<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong><i class="fa fa-fw fa-user fa-lg"></i>肺癌分期确诊条件</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="InfoForm">
                <fieldset>
                    <legend>肿瘤标记物检查</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>分析项名称</th>
                                        <th>英文名称</th>
                                        <th>检查结果</th>
                                        <th>正常参考值</th>
                                        <th>单位</th>
                                        <th>分析结果</th>
                                        <th>检查方法</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>糖链抗原125</td>
                                        <td>CA125</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>糖链抗原15-3</td>
                                        <td>CA15-3</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>糖链抗原19-9</td>
                                        <td>CA19-9</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>糖链抗原72-4</td>
                                        <td>CA72-4</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>癌抗原242</td>
                                        <td>CA242</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>癌抗原50</td>
                                        <td>CA50</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>细胞角蛋白19片段</td>
                                        <td>CYFRA 21-1</td>
                                        <td>正常</td>
                                        <td>120次/min</td>
                                        <td>次/min</td>
                                        <td>正常</td>
                                        <td>血液检查</td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>胸部影像检查（必要）</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">常规X-Ray检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">CT (分期必要）</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">PET (必要时） </label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">支气管镜检(必要时） </label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>肺部内镜检查</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">纤维支气管镜检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">支气管超声内镜检查EBUS</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">纵隔镜检查 </label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">胸腔镜检查VATS </label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>细胞学检查（阳性率不高）</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">痰液细胞学检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">胸腔积液细胞学检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>病理检查</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">组织病理学检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">分子病理学检查</label>
                            <div class="col-md-11">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-2 checkbox-inline" for="txtRoleName"><input type="checkbox" />是否为原发性肺癌 </label>
                        <label class="col-md-2 checkbox-inline" for="txtRoleName"><input type="checkbox" />是否为非小细胞肺癌 (NSCLC)</label>
                    </div>
                </div>
                <fieldset>
                    <legend>NSCLC肺癌TNM分期</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>T</th>
                                        <th>N</th>
                                        <th>M</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control"/></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">临床分期</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">细胞分型</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">是否有远处转移</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>无</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-2 checkbox-inline" for="txtRoleName"><input type="checkbox" />是否为小细胞肺癌 (SCLC) </label>
                    </div>
                </div>
                <fieldset>
                    <legend>SCLC肺癌TNM分期</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>T</th>
                                        <th>N</th>
                                        <th>M</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">临床分期</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">细胞分型</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-1 control-label" for="txtRoleName">是否有远处转移</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>无</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-1">
                            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-save"></i>保存</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

