@{
    Layout = null;
}
<!DOCTYPE html>
<html id="ng-app" ng-app="GuidLineApp">
<head>
    <title>流程设计器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @System.Web.Optimization.Styles.Render("~/Content/GuidLine")
</head>
<body>
    <div ng-view style="height:100%;"></div>
    @System.Web.Optimization.Scripts.Render("~/Script/GuidLine")
    <script src="~/AppScripts/GuideLine/Index.js"></script>
    <script src="~/AppScripts/common/area.js"></script>
</body>
</html>