<style>
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    } 
</style>
<div class="col-md-8 divider">
    <div class="slider">
        <div class="slide"><img src="/Content/images/5.png"></div>
        <div class="slide"><img src="/Content/images/2.jpg"></div>
        <div class="slide"><img src="/Content/images/3.jpg"></div>
        <div class="slide"><img src="/Content/images/4.jpg"></div>
        <div class="slide"><img src="/Content/images/1.jpg"></div>
    </div>
</div>
<div class="col-md-4">
    <form role="form" ng-submit="processForm()">
        <fieldset>
            <div class="form-group">
                <!--<label>用户名：</label>-->
                <input type="text" name="txtUserName" id="txtUserName" class="form-control" autocomplete="off" ng-model="formData.LoginName" placeholder="请输入用户名" required />
            </div>
            <div class="form-group">
                <!--<label>密&nbsp;&nbsp;&nbsp;码：</label>-->
                <input type="password" name="txtPassword" id="txtPassword" class="form-control" autocomplete="off" ng-model="LoginPwd" placeholder=" 请输入密码" required />
            </div>
            <div class="checkbox">
                <label for="chkKeepAlive"><input type="checkbox" id="chkKeepAlive" />记住我</label>
                <a class="forget" data-toggle="modal" data-target="#myResetPwdModal">忘记密码?</a>
            </div>
            <div class="form-group">
                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success btn-lg btn-block">登录</button>
            </div>
            <div class="form-group">
                <label>还没有帐号?<a data-toggle="modal" data-target="#myRegisterModal">立即注册</a></label>

            </div>
        </fieldset>
    </form>
</div>

<!--重置密码-->
<div class="modal fade" id="myResetPwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">重置密码</h4>
            </div>
            <form ng-submit="processReset()" name="myReset" role="form" class="form form-horizontal">
                <div class="modal-body">
                    <div class="checkbox">
                        <span class="panel-title">请选择重置密码的方式：</span>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 title" for="ResetType_0"><input type="radio" name="ResetType" id="ResetType_0" value="0" ng-model="resetData.ResetType" required />通过邮箱重置密码</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" autocomplete="off" placeholder="请输入邮箱" ng-model="resetData.Email" maxlength="30" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="myReset.$invalid">找回密码</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--重置密码结束-->
<!--注册-->
<div class="modal fade" id="myRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新用户注册</h4>
            </div>
            <form ng-submit="processRegister()" name="myRegister" role="form" class="form form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-8 col-md-4" style="padding-right:0;line-height:34px;" for="txtLoginName">用&nbsp;&nbsp;户&nbsp;&nbsp;名*：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtLoginName" autocomplete="off" placeholder="请输入用户名" ng-model="registerData.LoginName" required maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-2 col-sm-8" style="padding-right: 0; line-height: 34px;" for="regLoginPwd">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码*：</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" autocomplete="off" placeholder="请输入密码" ng-model="registerData.LoginPwd" name="LoginPwd" id="regLoginPwd" required maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-2 col-sm-8" style="padding-right: 0; line-height: 34px;" for="regLoginPwd2">确认密码*：</label>
                        <div class="col-md-8">
                            <input type="password" id="regLoginPwd2" class="form-control" autocomplete="off" placeholder="请再次输入密码" ng-model="registerData.ConfirmLoginPwd" required pw-check="regLoginPwd" maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-2 col-sm-8" style="padding-right: 0; line-height: 34px;" for="txtMobilePhone">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机*：</label>
                        <div class="col-md-4 col-lg-4 col-sm-8">
                            <input type="number" ng-maxlength="11" ng-minlength="11" maxlength="11" id="txtMobilePhone" name="txtMobilePhone" class="form-control" autocomplete="off" placeholder="请输入手机" ng-model="registerData.MobilePhone" required ng-pattern="/^1\d{10}$/" ng-change="mobilePhoneChange()" />
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-8">
                            <button type="button" class="btn btn-block btn-info" ng-disabled="getVercodeDisabled" ng-click="sendVercode(registerData.MobilePhone)" id="btnGetVercode">获取验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-2 col-sm-8" style="padding-right: 0; line-height: 34px;" for="txtVercode">手机验证码：</label>
                        <div class="col-md-8">
                            <input type="text" name="txtVercode" id="txtVercode" class="form-control" autocomplete="off" placeholder="请输入手机验证码" ng-model="registerData.Vercode" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-2 col-sm-8" style="padding-right: 0; line-height: 34px;" for="txtEmail">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱*：</label>
                        <div class="col-md-8">
                            <input type="text" name="txtEmail" class="form-control" autocomplete="off" placeholder="请输入邮箱" ng-model="registerData.Email" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" ng-disabled="myRegister.$invalid">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--注册结束-->

<div class="loading-modal" ng-show="loading">
    <div class="loading">
        <img src="/Content/images/loading.gif" alt="" /><span>处理中，请稍候...</span>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').bxSlider({
            slideWidth: 798,
            controls: false,
            slideMargin: 10,
            auto: true
        });
    });
</script>