<style type="text/css">
    .panel-body {
        z-index: 9999;
    }
</style>

<div class="container-fluid">
    <div class="panel panel-default" ng-controller="imageExCtrl">
        <div class="panel-heading">
            <h4>影像学检查结果</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-10 form-horizontal">
                <div class="form-group" ng-include="'/Views/DoctorHistory/Person.html'">
                </div>
                <div class="col-md-12">
                    <label class="control-label">患者上传的附件列表：</label>
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>文件名</th>
                                <th>上传日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in Files">
                                <td>{{f.FileName}}</td>
                                <td>{{f.CreatTime|date:'yyyy-MM-dd'}}</td>
                                <td><a href="/Upload/{{f.FilePath}}" target="_blank">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">申请科室</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Data.Department" />
                    </div>
                    <label class="col-md-2 control-label">检测部位</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Data.CheckPosition" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">报告单类型</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Data.CheckType" />
                    </div>
                    <label class="col-md-2 control-label">检查日期</label>
                    <div class="col-md-3">
                        <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
                            <input class="form-control" size="10" type="text" value=""  ng-model="Data.CheckTime" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">检查所见</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="8" ng-model="Data.ReportContent"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">报告时间</label>
                    <div class="col-md-3">
                        <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-date-orientation="bottom" datepicker>
                            <input class="form-control" size="10" type="text" value=""  ng-model="Data.ReportTime" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">报告医生</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Data.ReportDoctor" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">审核医生</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Data.AuditDoctor" />
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary active col-md-offset-2" ng-click="GoBack()">返回</a>
                <a href="javascript:void(0);" class="btn btn-primary active col-md-offset-2" ng-click="Save()">保存</a>
            </div>
        </div>
    </div>
</div>

