<script src="/Scripts/bootstrap-treeview.min.js"></script>
<div class="container-fluid" ng-controller="MetaDataPickerCtrl">
    <div class="row-fluid">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control " placeholder="请输入元数据名称" ng-model="smKeyword" id="smKeyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default  col-md-11" type="button" ng-click="SearchMetaData()">搜索</button>
                    </span>
                </div>
            </form>
            <br />
            <div id="metaDataTree" style="overflow-y:scroll;height:420px;"></div>
        </div>
    </div>
</div>

