@{
    Layout = null;
}
<style type="text/css">
    .checkbox-inline {
        padding-left: 0px;
        padding-right: 20px;
    }

        .checkbox-inline + .checkbox-inline {
            margin-left: 0px;
        }
</style>

<div class="container-fluid">
    <div class="page-header">
        <h1>糖尿病管理建档</h1>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-md-12 column">
            <form ng-submit="Submit()" novalidate>
                <div class="panel-group" ng-include="'/Views/BasicRecord/BasicInfo.html'"></div>
                <div class="panel-group nav nav-list affix-top">
                    @MvcHtmlString.Create(ViewBag.Content)
                </div>
                <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                    <button class="btn btn-success" type="submit">确定信息无误并提交</button>
                </div>
            </form>
        </div>
    </div>
</div>