<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong><i class="fa fa-fw fa-user fa-lg"></i>角色编辑</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="InfoForm">
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 control-label" for="txtRoleName">角色名称</label>
                    <div class="col-md-4 col-lg-2" ng-class="{'has-error':InfoForm.RoleName.$invalid}">
                        <input type="text" class="form-control" id="txtRoleName" ng-model="Info.RoleName" name="RoleName" placeholder="角色名为必填项" required />
                    </div>
                    <label class="col-md-2 col-lg-1  col-lg-offset-2 control-label" for="txtSystemCategory">所属系统</label>
                    <div class="col-md-4 col-lg-2">
                        <select class="form-control" id="txtSystemCategory" ng-options="x.value as  x.text for x in CateData" ng-model="Info.SystemCategory">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 control-label" for="txtContent">备注</label>
                    <div class="col-md-10 col-lg-11">
                        <textarea class="form-control" rows="3" id="txtContent" ng-model="Info.Remark"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 control-label" for="txtContent">角色权限设置</label>
                    <div class="col-md-10 col-lg-11 table-responsive" style="height:600px;">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>菜单功能</th>
                                    <th ng-repeat="x in ExtFuns[0].Permissions" style="min-width:200px;">{{x.PermissionName}}</th>
                                </tr>
                                <tr ng-repeat="x in ExtFuns">
                                    <td>{{x.FunctionName}}</td>
                                    <td ng-repeat="c in x.Permissions">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="c.IsDeleted">
                                            授权
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="c.Tool">
                                            数据范围
                                        </label>
                                        <div ng-show="c.Tool==true" class="pager table-responsive">
                                            <button type="button" class="btn btn-default btn-small pull-left" ng-click="CheckItem($parent.$index,$index)">新增条件</button>
                                            <table class="table table-bordered table-striped  table-hover" style="width:500px;">
                                                <thead>
                                                    <tr><th>关系</th><th>字段</th><th>操作</th><th>值</th><th></th></tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="t in c.DataRange">
                                                        <td class="wrapspace">
                                                            <select class="form-control" ng-model="t.relationship" style="min-width:80px;">
                                                                <option value="and">and</option>
                                                                <option value="or">or</option>
                                                            </select>
                                                        </td>
                                                        <td class="wrapspace">
                                                            <input type="text" class="form-control" ng-model="t.name" disabled="disabled" style="min-width:150px;" />
                                                        </td>
                                                        <td class="wrapspace">
                                                            <select class="form-control" ng-model="t.operation" style="min-width:70px;">
                                                                <option value=">">></option>
                                                                <option value="=">=</option>
                                                                <option value="<"><</option>
                                                                <option value=">=">>=</option>
                                                                <option value="<="><=</option>
                                                                <option value="like">like</option>
                                                            </select>
                                                        </td>
                                                        <td class="wrapspace">
                                                            <input type="text" class="form-control" ng-model="t.value" style="min-width:150px;" />
                                                        </td>
                                                        <td><a class="javascript:void(0);" ng-click="Remove($parent.$parent.$index,$parent.$index,$index)"><i class="fa fa-fw fa-remove"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button type="button" class="btn btn-info btn-lg btn-block" ng-click="GoBack()"><i class="fa fa-fw fa-reply-all"></i> 返回</button>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <button type="button" class="btn btn-info btn-lg btn-block" ng-disabled="InfoForm.$invalid" ng-click="Save()"><i class="fa fa-fw fa-save"></i> 确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMetaDataPicker" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog bs-example-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <label>元数据选择器</label>
                </h4>
            </div>
            <div class="modal-body">
                <div ng-include="'/Views/Common/MetaDataPicker.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" ng-click="SaveMetaDataPicker()" ng-disabled="SelectedMetaDataID==null || SelectedMetaDataID<=0">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

