<style type="text/css">
    .webuploader-pick {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: #D9EDF7;
        padding: 0 0;
        color: #337ab7;
        text-align: center;
        border-radius: 3px;
        overflow: hidden;
        width: auto;
        top: 5px;
    }

    .webuploader-pick-hover {
        background: #D9EDF7;
    }

    tr, th {
        text-align: center;
    }

    .loading-modal {
        background: rgba(0,0,0,0);
    }
</style>
<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-fw fa-search-plus fa-lg"></i>
            <strong data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                用户类型
                <i class="fa fa-angle-down fa-fw pull-right"></i>
            </strong>

        </div>
        <div class="panel-collapse collapse in" id="collapseExample">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="checkbox-inline" ng-repeat="r in UserType">
                            <input type="radio" name="UserType" value="{{r.ivalue}}" ng-click="InitUserRole(r.ivalue)" ng-model="UserTypeRoleDetail.UserType" />{{r.text}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#modalUserRoleList" ng-click="AddUserRole()"><i class="fa fa-fw fa-plus "></i>维护角色</a>
            <a href="javascript:void(0);" data-toggle="modal" ng-click="DeleteUserRole()"><i class="fa fa-fw fa-remove "></i>删除角色</a>
            <a href="javascript:void(0);" data-toggle="modal" ng-click="Refresh()"><i class="fa fa-fw fa-refresh "></i>刷新</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="info">
                        <th>用户类型</th>
                        <th>角色名称</th>
                        <th>修改时间</th>
                        <th>修改人</th>
                        <th>查看</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in RoleList">
                        <td>{{x.UserTypeText}}</td>
                        <td>{{x.RoleName}}</td>
                        <td>{{x.EditDateTime|date:'yyyy-MM-dd hh:mm:ss'}}</td>
                        <td>{{x.EditUserName}}</td>
                        <td>
                            <a title="查看" data-toggle="modal" data-target="#modalUserRoleFunctionList" ng-click="UserRoleFunction(x.RoleId)"><i class="fa fa-fw fa-search fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="pager" class="pull-right"></div>
    </div>
</div>

<div class="loading-modal" ng-show="loading">
    <div class="loading">
        <img src="/Content/images/loading.gif" alt="" /><span>处理中，请稍候...</span>
    </div>
</div>

<div class="modal fade" id="modalUserRoleList" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel2">
                    <label>角色选择</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="panel panel-default">
                            <table class="table table-bordered">
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        角色名称
                                    </th>
                                    <th>
                                        子系统
                                    </th>
                                </tr>
                                <tr ng-repeat="ur in UserRoles" style="cursor:pointer;" ng-click="ChoiceRow(ur)">
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="UserRole" value="{{ur.RoleID}}" ng-model="UserTypeRoleDetail.RoleId">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        {{ur.RoleName}}
                                    </td>
                                    <td>
                                        {{ur.CategoryValue}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" ng-click="SaveUserTypeRole()" ng-disabled="UserTypeRoleDetail.$invalid">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>