<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-info"></i>字典明细</h4>
        </div>
        <div class=" panel-body">
            <div class="col-md-12 form-horizontal">
                <div class="form-group  has-feedback">
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">系统来源</label>
                    <div class="col-md-3">
                        <select ng-options="x.value as  x.text for x in CateData" ng-model="Info.SystemCode" class="form-control"></select>
                    </div>
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">父字典</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.FatherName" readonly="readonly" data-toggle="modal" data-target="#modalFather" />
                        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <button class="col-md-1 btn btn-danger" ng-click="Clear()">清除</button>
                </div>
                <div class="form-group  has-feedback">
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">字典类型名称</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.DictionCategoryName" readonly="readonly" data-toggle="modal" data-target="#modalSystem" />
                        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <label class="col-md-2 col-lg-1 col- sm-4 control-label">字典类型编码</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.DictionCategory" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">字典名称</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.DictionaryName" />
                       
                    </div>
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">字典值</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.DictionaryValue" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">排列序号</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="Info.OrderNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-lg-1 col-sm-4 control-label">备注</label>
                    <div class="col-md-7">
                        <textarea class="form-control" ng-model="Info.Remark"></textarea>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" class="btn btn-info col-md-offset-2" ng-click="Save()">保存</a>
            <a href="javascript:void(0);" class="btn btn-info col-md-offset-2" ng-click="GoBack()">返回</a>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFather" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <label><i class="fa fa-fw fa-bell"></i>父字典选择</label> 
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr class="info">
                                <th>字典类型编码</th>
                                <th>字典名称</th>
                                <th>字典值</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in Father">
                                <td>{{x.DictionCategory}}</td>
                                <td>{{x.DictionaryName}}</td>
                                <td>{{x.DictionaryValue}}</td>
                                <td><a href="javascript:void(0);" title="确定" ng-click="CheckFather(x)"><i class="fa fa-fw fa-check fa-lg"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pager" class="pull-right"></div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSystem" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <label><i class="fa fa-fw fa-bell"></i>字典类型选择</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr class="info">
                                <th>系统类型编码</th>
                                <th>系统类型名</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in System">
                                <td>{{x.Code}}</td>
                                <td>{{x.Name}}</td>
                                <td><a href="javascript:void(0);" title="确定" ng-click="CheckSystem(x)"><i class="fa fa-fw fa-check fa-lg"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

