<div class="container-fluid">
    <h2>健康检查分类信息</h2>
    <div class="row-fluid clearfix">
        <form class="form-horizontal" ng-submit="Save()">
            <div class="form-group">
                <label for="Code" class="col-md-2 control-label">代号</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Code" ng-model="Data.CategoryCode" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Name" class="col-md-2 control-label">名称</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Name" ng-model="Data.Name" ng-maxlength="20" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-md-2 control-label">描述</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="5" id="Description" ng-model="Data.Description" ng-maxlength="500"></textarea>
                </div>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-success" type="submit" value="保存" />
                <button class="btn btn-default" type="button" ng-click="GoBack()">返回</button>
            </div>
        </form>
    </div>
</div>